{% extends "package/snippets/additional_info.html" %}

{%- set exclude_fields = [
    'id',
    'organization',
    'title',
    'name',
    'notes',
    'tag_string',
    'license_id',
    'owner_org',
    'detailed_info',
    'contributor_details',
    'contact_email',
    'stars',
    'forks_count',
    'open_issues',
    'last_update',
    'license',
    'is_featured',
    'sotm_month',
    ] -%}

{% set org = h.get_organization(pkg_dict.owner_org) %} 
{% block package_additional_info %}
{% if h.check_access('package_update',{'id':pkg_dict.id}) %}

{% endif %}
  {%- set always_show_fields = ['contributors', 'ckan_version', 'extension_type'] -%}
  {%- for field in schema.dataset_fields -%}
    {%- set field_value = pkg_dict.get(field.field_name) -%}
    {%- if field.field_name not in exclude_fields
        and field.display_snippet is not none
        and (field.field_name in always_show_fields
             or (field_value is not none
                 and field_value != ''
                 and field_value != [])) -%}
      <tr>
        <th scope="row" class="dataset-label">{{
          h.scheming_language_text(field.label) }}</th>
        <td class="dataset-details"{%
          if field.display_property %} property="{{ field.display_property
          }}"{% endif %}>{%- snippet 'scheming/snippets/display_field.html',
          field=field, data=pkg_dict, schema=schema -%}</td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
  {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("State") }}</th>
      <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
    </tr>
  {% endif %}
{% endblock %}