#accordion-package {

}
.accordion {
    .accordion-item {
        margin: 0 auto 1rem;
        border: 2px solid $grey-200;
        padding: 0 0;
        border-radius: .5rem;
        .accordion-header {
            .accordion-button  {
                font-size: $fs-default;
                font-weight: $fw-medium;
                padding: .5rem 1rem;
                box-shadow: none;
                color: $primary-color-dark;
                &:not(.collapsed) {
                    background: $primary-color-light;
                }
                .accordion-collapse {
                    p {

                    }
                }
            }
        }
    }
}