//Buttons
::-moz-placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder {
    color: $grey-400;
    font-weight: $fw-medium;
}
.editor .editor-info-block {
    border-radius: .35rem;
    display: block;
    float: none;
    padding: .25rem;
    background: $grey-200;
    width: auto;
    border: none;
    border-top: none;
    font-size: $fs-sm;
    color: $grey-500;
    margin-top: 3px;
    padding: .5rem;
    a {
        color: $brand-color;
    }
}

.form-control, input.form-control, .control-large input, .select2-container-multi .select2-choices, .select2-container .select2-choices, .editor textarea {
    font-size: 1rem;
    height: auto;
    padding: .75rem;
    border-radius: .5rem!important;
    border: 2px solid $grey-200;
    font-weight: $fw-medium;
    box-shadow: none;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: $white;
    &:focus, &:focus-visible {
        box-shadow: none;
        border: 2px solid $primary-color;
        outline: none;
    }
}
.select2-container-multi .select2-choices input.select2-input.select2-default {
    margin: 0px;
    height: auto;
    border: none;
    font-size: $fs-default;
    padding: .5rem 0;
    font-weight: $fw-medium;
}
.select2-container-multi.select2-container.select2-container-active .select2-choices {
    padding: .375rem!important;
    border: 2px solid $primary-color;
        

}
.select2-container-multi .select2-choices {

    .select2-search-choice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.35rem 0.5rem 0.25rem 1.25rem;
        color: $white;
        font-weight: $fw-regular;
        font-size: calc( $fs-default - 1px );
        line-height: $line-height-heading;
        background: $primary-color-dark;
        border: none;
    }
    
}

.select2-search-choice-close, .select2-container-multi .select2-search-choice-close {
    font-size: 0;
    background: url('../../icons/icon-close.svg') center center no-repeat!important;
    background-size: 18px 18px!important;
    width: 16px;
    height: 16px;
    top: 5px;
    left: 3px;
    right: auto;
    &:hover {
        color: $white;
        background-position: center center!important;
    }
}
input[type=text] {
    font-family: $font-family!important;
    font-size: $fs-default;
    font-weight: $fw-medium;
}


.form-control:focus {
    box-shadow: none;
    border: 2px solid $primary-color;
}
.form-group .btn {
    top: 0px;
}
.btn {
    display: inline-flex;
    border: none;
    font-size: 1rem;
    font-weight: $fw-medium;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    i {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
    }
    &.btn-sm {
        i {
            margin-right: 0;
        }
    }
    &:hover {
        border: none;
    }
    &.btn-secondary {
        box-shadow: none;
        border: 2px solid $grey-200;
        background-color: $grey-200;
        color: $grey-600;
        &:hover {
            background: $grey-300;

        }
    }
    &.btn-primary {
        background: $primary-color;
        color: $primary-text-color;
        border: none;
        &:hover {
        background: $primary-color-dark;
        }
    }
    &.btn-primary-dark {
        background: $primary-color-dark;
        color: $primary-text-color;
        border: 2px solid $primary-color-dark;
        &:hover {
            background: $primary-color;
            border: 2px solid $primary-color;
        }
    }
    &.btn-accent, 
    &.btn-danger {
        background: $accent-color;
        color: $primary-text-color;
        border: none;
        &:hover {
            background: $accent-color-dark;
        }
    }
    &.btn-success {
        background: $success-color;
        color: $primary-text-color;
        border: none;
        &:hover {
            background: $success-color-dark;
        }
    }
}


//Sidebar buttons for add new
.module-narrow .nav-item > a, 
.module-narrow .nav-aside li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: $fw-medium;
    padding-left: .75rem;
    padding-right: .75rem;
    &:hover {
        background: $grey-200;
    }   
}
.item-count.badge {
    background-color: $grey-200!important;
    color: $grey-600;
    border-radius: 7px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    font-size: .75rem;
    font-weight: 500;
    min-width: 20px;
  }
.nav-facet li.nav-item {
    a {
        span.item-count.badge {
            background-color: $grey-200!important;
            color: $grey-600;
            border-radius: 7px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0.25rem;
            font-size: .75rem;
            font-weight: 500;
            min-width: 20px;
            margin-left: auto;
            margin-right: 5px;
        }
    }
    > a:hover {
        background: $grey-200;
        color: $grey-600;
        &::before {
            border-left-color: $grey-200;
        }
    }
    > a:hover:after { 
        content: '';
        width: 18px;
        height: 18px;
        background: $white url('../../icons/icon-add.svg') no-repeat center center;
        background-size: 24px auto;
        z-index: 99;
        right: 11px;
    
        border-radius: 100%;
    }
    &.active {
        a:after {
            content: '';
            width: 18px;
            height: 18px;
            background: $white url('../../icons/icon-remove.svg') no-repeat center center;
            background-size: 20px auto;
            z-index: 99;
            right: -2px;
            border-radius: 100%;
        }
        >a {
            &::before {
                border-left-color:#647A82;
            }

        }
    }   
}


.module-narrow .nav-item.active > a::before, .module-narrow .nav-aside li.active a::before {
    height: 44px!important;
}



.input-group {
    .form-control {
        border-top-left-radius: 0!important;
        border-bottom-left-radius: 0!important;
    }
    .input-group-addon,
    .input-group-text {
        background: $grey-200;
        font-weight: 500;
        border: 2px solid $grey-200;
    }
}
.facet-close {
    display: none;
}
//search field
.input-group.search-input-group {
    display: flex;
    align-content: center;
    justify-content: center;
    #field-giant-search {
        border-radius: .5rem!important;
    }
    .input-group-btn {
        .btn.btn-default{
            position: absolute;
            right: 1rem;
            background: transparent !important;
            border: none;
            z-index: 999;
            height: 100%;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px auto;
            i {
                margin-right: 0!important;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
}
.stages li.active {
    &::before {
        color: $success-color;
    
    }
    .highlight {
        background: $success-color;
    }
} 