.page_primary_action {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: -1rem 0 1rem;
    > a.btn {
        margin: 0;
    }
    > a.btn + a.btn {
        margin-left: 1rem;
    }
}