
/* Custom background color for select format labels */
.dataset-resources li a {
    background-color: #6e6e6e;
  }
  
  .label[data-bs-format="html"],
  .label[data-bs-format*="html"] {
    background-color: #2e759e;
  }
  
  .label[data-bs-format="json"],
  .label[data-bs-format*="json"] {
    background-color: #d63b00;
  }
  
  .label[data-bs-format="xml"],
  .label[data-bs-format*="xml"] {
    background-color: #d63b00;
  }
  
  .label[data-bs-format="text"],
  .label[data-bs-format*="text"] {
    background-color: #1a7ea3;
  }
  
  .label[data-bs-format="csv"],
  .label[data-bs-format*="csv"] {
    background-color: #207e42 !important;
  }
  
  .label[data-bs-format="xls"],
  .label[data-bs-format*="xls"] {
    background-color: #207e42;
  }
  
  .label[data-bs-format="zip"],
  .label[data-bs-format*="zip"] {
    background-color: #5b5b5b !important;
  }
  
  .label[data-bs-format="pdf"],
  .label[data-bs-format*="pdf"] {
    background-color: #e0051e;
  }
  
  .label[data-bs-format="rdf"],
  .label[data-bs-format*="rdf"],
  .label[data-bs-format*="nquad"],
  .label[data-bs-format*="ntriples"],
  .label[data-bs-format*="turtle"] {
    background-color: #0b4498;
  }
  
  .label[data-bs-format="geojson"],
  .label[data-bs-format*="geojson"] {
    background-color: #85252f !important;
  }
  
  .label[data-bs-format="gml"],
  .label[data-bs-format*="gml"] {
    background-color: #847e31 !important;
  }
  
  .label[data-bs-format="kml"],
  .label[data-bs-format*="kml"] {
    background-color: #223582 !important;
  }
  
  .label[data-bs-format="shp"],
  .label[data-bs-format*="shp"] {
    background-color: #3b2d80 !important;
  }
  
  .label[data-bs-format="wfs"],
  .label[data-bs-format*="wfs"] {
    background-color: #246984 !important;
  }
  
  .label[data-bs-format="wms"],
  .label[data-bs-format*="wms"] {
    background-color: #248462 !important;
  }
  
  .label[data-bs-format="arcgis"],
  .label[data-bs-format*="arcgis"],
  .label[data-bs-format="chart"],
  .label[data-bs-format*="chart"],
  .label[data-bs-format="map"] {
    background-color: #852c7b !important;
  }

  
// Recent Datasets
.global-datasets {
    &.popular-dataset {
        background-color: $white;
    }
    &.recent-dataset {
        background-color: $primary-color-light;
    }
}
.global-datasets {
    section.popular-ds {
        ul.dataset-list li.dataset-item {
            background: $primary-color-light;
        }
    }
    section.recent-ds {
        ul.dataset-list li.dataset-item {
            background: $white;
        }    
    }
}

article.module {
        .dataset-list {
            .dataset-item {
                background: $grey-200;
                padding: 2rem!important;
                &::before {
                    display: none;
                }
            
        }
    }
}
.dataset-resources {
    li a.label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 0.25em;
        line-height: 1.5;
        font-size: $fs-xs;
        font-weight: $fw-medium;
        padding: .15rem .5rem;
    
    }
}
span.dataset-private {
    background: $primary-color-dark;
    color:$primary-color-light;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.25em;
    line-height: 1.5;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.15rem 0.5rem;
    i {
        margin-right: 4px;
    }
}
.btn .caret {
    margin: 8px 0px 0px 8px;
}



.homepage .dataset-item {
    flex: 0 0 100%;
    max-width:100%;
    z-index: 9;
    margin: 0 0 1rem 0;
    padding: 2rem;
    border-radius: .75rem;

    position: relative;
    background: $white;
    overflow: hidden;
    
    &::before {
        content: "";
        position: absolute;
        bottom: -90%;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $grey-50;
        transform: skewY(355deg);
        transition: 0.5s;
        z-index: 1;
      }
      &:hover::before {
        bottom: -0%;
        transform: skewY(360deg);
        z-index: 1;
      }
  }
.primary {
    ul.dataset-list {
        li.dataset-item {
            background-color: $grey-100;
            &:hover {
                background-color:$grey-200;
            }
        }
  }
}
  .homepage {
    ul.dataset-list {
        li.dataset-item {
            @include media(tablet_min) {
                flex: 0 0 calc(50% - 1rem);
                max-width: calc(50% - 1rem);
                margin: 0 1rem 2rem 0;
                
          }
          @include media(desktop_min) {
                flex: 0 0 calc(33.33% - 2rem);
                max-width: calc(33.33% - 2rem);
                margin: 0 2rem 2rem 0;
            }
        }
    }
  }
  ul.dataset-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    li.dataset-item {
        flex: 0 0 100%;
        max-width:100%;
        margin: 0 0 1rem 0;
        padding: 2rem;
        border-radius: .75rem;
        .dataset-content {
            position: relative;
            z-index: 9;
            h3.dataset-heading {
                a {
                    font-size: $fs-lg;
                    font-weight: $fw-medium;    
                    color: $primary-color-dark;
                    letter-spacing: -.5px;
                }
            }
            .datset-update {
                color: $grey-500;
                font-size: $fs-sm;
                font-weight: $fw-regular;
                display: flex;
                align-items: center;
                &::before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    background: url(../../icons/icon-updated.svg) no-repeat center center;
                    background-size: 18px;
                }
            }
        }
    }
}