footer {
    a {
        color: $grey-300!important;
    }
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $grey-300;
    }    
    &.site-footer {
        padding: 4rem 2rem .25rem 2rem;
        margin-bottom: .5rem;
        .lead-footer {
            font-weight: $fw-medium;
            font-size: $fs-lg;
            color: $grey-200;
            text-transform: uppercase;
        }
        p.footer-logo {
            background: url(../../images/logo-invert.svg) no-repeat center center;
            background-size: 210px 48px;
            width: 210px;
            height: 48px;
        }
        p.footer-logotypes {
            background: url(../../images/footer-logotypes.svg) no-repeat center center;
            background-size: 210px 48px;
            width: 210px;
            height: 48px;
        }
    }
}
