section.getStarted {
    .module-content {
        .container {
            .row {
                >* {
                    color: $white;
                }
                .buttons-group {
                    margin-top: 2rem;
                    flex-direction: row;
                    .btn-primary-dark {
                        &:hover {
                            background: $grey-200;
                            color: $primary-color-dark;
                            border: 2px solid $grey-200!important;
                        }
                    }
                }
            }
        }
    }
}