//Defaults
a {
    color: $primary-color-dark;
}

//Sections
section.main-browse, 
section.main-updates,
section.main-featured, 
section.featured-charts-wrap {

    &.bg-primary-light {
        background: $primary-color-light;
    }
    &.bg-primary-dark {
        background: $primary-color-dark;
    }
    &.bg-primary {
        background: $primary-color;
    }
    .heading-explanation.above-heading {
        font-size: 1.125rem;
        display: block;
        font-style: $fst-default;
        text-transform: uppercase;
        color: $primary-color;
        padding: 0;
        margin: 0 0 0.25rem 0;
        letter-spacing: -0.75px;
    }
    h2 {
        margin: 0 0 2rem;
        a {
            color: $primary-color-dark;
            text-decoration: none;
            letter-spacing: -1px;
        }
    }
}
.module-content {
    padding: map-get($spacers, 5) map-get($spacers, 1);
    @include media(tablet_min) {
        padding: map-get($spacers, 5) map-get($spacers, 3);
    }
    @include media(desktop_min) {
        padding: map-get($spacers, 7) map-get($spacers, 5);
    }
}

.row.wrapper {
    .primary {
        .media-grid {
            background: $white!important;
            border: none!important;

            .media-item {
                border-radius: .75rem;
                border: none;
                float: none;
                background: $grey-100;
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                margin: 0 0 1rem 0;
                @include media(tabletport_min) {
                    flex: 0 0 calc(50% - 1rem);
                    max-width: calc(50% - 1rem);
                    width: 50%;
                    margin: 0 1rem 1rem 0;
                }
                @include media(tablet_min) {
                    flex: 0 0 calc(33.33% - 1rem);
                    max-width: calc(33.33% - 1rem);
                    width: 33.33%;
                    margin: 0 1rem 1rem 0;
                }
                @include media(desktop_min) {
                    flex: 0 0 calc(25% - 1rem);
                    max-width: calc(25% - 1rem);
                    width: 25%;
                }
                
                img {

                    //max-width: 100%;
                    //height: 64px;
                    //object-fit: contain;
                    
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    overflow: hidden;
                }
                h2 {
                    margin-top: 1rem;
                    font-size: $fs-xl;
                }
                h3.media-heading {
                    margin-top: 1rem;
                    font-size: $fs-xl;
                }
                .media-view {
                    font-size: 1.5rem;
                    border: none!important;
                    border-radius: .75rem;
                    &:hover {
                        border: none!important;
                        box-shadow: 0px 0px 7px 0px $grey-400;
                    }
                }
            }
            &.grid-organization {
                .media-item {
                    border-radius: .75rem;
                    border: none;
                    background: $grey-100;
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin: 0 0 1rem 0;
                    @include media(tabletport_min) {
                        flex: 0 0 calc(50% - 1rem);
                        max-width: calc(50% - 1rem);
                        width: 50%;
                        margin: 0 1rem 1rem 0;
                    }
                    @include media(tablet_min) {
                        flex: 0 0 calc(33.33% - 1rem);
                        max-width: calc(33.33% - 1rem);
                        width: 33.33%;
                        margin: 0 1rem 1rem 0;
                    }
                    @include media(desktop_min) {
                        flex: 0 0 calc(25% - 1rem);
                        max-width: calc(25% - 1rem);
                        width: 25%;
                    }
                    img {
                        width: auto;
                        max-width: 100%;
                        max-height: 64px;
                        object-fit: contain;
                        margin: .25rem;
                    }
                }
            }
            &.grid-group {
                .media-item {
                    border-radius: .75rem;
                    border: none;
                    background: $grey-100;    
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin: 0 0 1rem 0;
                    @include media(tabletport_min) {
                        flex: 0 0 calc(50% - 1rem);
                        max-width: calc(50% - 1rem);
                        width: 50%;
                        margin: 0 1rem 1rem 0;
                    }
                    @include media(tablet_min) {
                        flex: 0 0 calc(33.33% - 1rem);
                        max-width: calc(33.33% - 1rem);
                        width: 33.33%;
                        margin: 0 1rem 1rem 0;
                    }
                    @include media(desktop_min) {
                        flex: 0 0 calc(25% - 1rem);
                        max-width: calc(25% - 1rem);
                        width: 25%;
                    }
                    img {
                        width: auto;
                        max-width: 100%;
                        max-height: 128px;
                        object-fit: contain;
                        margin: .25rem;
                    }
                }
            }
        }
    }
}

.table.table-header.table-hover.table-bordered {
    tbody {
        tr {
            td {
                img.user-image {
                    width: 40px;
                    height: 40px;
                    border-radius: .5rem;
                    margin-right: .5rem;
                }
            }
        }
    }
}