.groups-wrapper {
    display: flex;
    flex-wrap: wrap;
}
a.browse-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem;
    margin: 0 1.5rem 1.5rem 0;
    background: $primary-color-light;
    position: relative;
    min-height: 305px;
    border-radius: 1.5rem;
    flex: 0 0 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9999;
    @include media(tablet_min) { 
        flex: 0 0 calc( 50% - 1.5rem );;
        max-width: calc( 50% - 1.5rem );
        }
    @include media(desktop_min) { 
        flex: 0 0 calc( 25% - 1.5rem );
        max-width: calc( 25% - 1.5rem );
    }
    &::before {
        content: "";
        position: absolute;
        bottom: -90%;
        left: 0px;
        width: 100%;
        height: 100%;
        background: $grey-50;
        transform: skewY(355deg);
        transition: 0.5s;
        z-index: 1;
      }
        img.browse-group-image {
            max-width: auto;
            max-height: auto;
            width: 64px;
            height: 64px;
            margin: 0px;
            position: relative;
            z-index: 9;
        }
        .browse-group-title {
            margin-top: 2rem;
            display: flex;
            align-items: flex-end;
            height: 90px;
            position: relative;
            z-index: 9;
            transition: 0.5s;
        
            h3 {
                margin:0;
                font-size: 2.5rem;
                letter-spacing: -1.5px;
                line-height: $line-height-heading;
            }
        }

        .browse-group-description {
            display: none;
        }
        .browse-group-link {
            margin-left: auto;
            background-color: $grey-200;
            border-radius: .75rem;
            padding: .25rem;
            position: relative;
            z-index: 9;
            transition: 0.5s;
            width: 48px;
            height: 48px;
            .dh-icon.next {
                transition: 0.5s;
                width: 40px;
                height: 40px;
            }
        
        }
    &:hover {
        text-decoration: none;
        &::before {
            bottom: -0%;
            transform: skewY(360deg);
            z-index: 1;
        }
        .browse-group-title {
            color: $primary-color;
        }
        .browse-group-link {
            background-color: $primary-color-dark;
            border-radius: 100%;

        }

    }
}