.masthead .logo img {
    max-height: 40px;
    margin: .25rem 0;
    @include media(tablet_min) {
        max-height: 50px;
    }
    @include media(desktop_min) {
        max-height: 60px;
    }
  }
  .navbar-toggle {
    width: 44px;
    height: 44px;
    padding: 0;
    margin: .25rem;
    border-radius: .75rem;
  }
.masthead  {
    box-shadow: 0 2px 4px 0 rgb(19 21 23 / 10%);
    padding: 0;
    hgroup h2 {
        bottom: 0px;
        left: 1rem;
    }
    #main-navigation-toggle {
      margin-top: .25rem;
      padding: 0.5rem 0;
      margin-left: auto;
    
    }
    .navbar-collapse {
        margin-top: .25rem;
        padding: 0.5rem 0;
        margin-left: auto;
        justify-content: flex-end;
    }
    .navigation {
        padding: .5rem 0;
        margin-right: 1rem;
        .nav-pills {
          li {
            a {
              padding: .75rem 1rem;
              text-transform: capitalize;
              font-weight: 500;
              border-radius: .5rem;
              &:hover {
                background: $primary-color!important;
                color: $white;
                text-decoration: none;
              }
            }
          }


        > li + li {
          margin-left: 5px;
        }
      }
    }
    .navigation > li > a {
        padding: .5rem 1rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    .site-search {
        padding: .5rem 0;
        margin: 0;
    }
}  
.account-masthead {
    .account {
        ul {
            li {
                border-left: none;
                a {
                    &:hover {
                        color: $white;
                      }
                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                      }
                }
            }
        }
    }
}

  
  .nav-pills > li + li {
    margin-left: 5px;
  }
  
  header.compressed.masthead {
    .container {
      .navbar-brand {

      }
      #main-navigation-toggle {
        nav.section.navigation {
          ul.navbar-nav {
            list-style: none;
            li {
              list-style: none;
              a {
                padding: .75rem 1.25rem;
                margin: 0 .5rem;
              }
            }
          }
        }
      }
    }

    .navbar-collapse {
        float: none;
    }
    .navigation {
        float: left;
        margin-left: .5rem;
      }
      .account-masthead {
        float: right;
        margin: 0 0 0 auto;
      }
      .account-masthead .account ul li a {
        padding: .5rem 1rem;
        &:hover {
          background: $grey-200!important;
        }
      }
      .account-masthead .account.dh-icon-links ul li a {
        padding: 0;
      }
      .site-search {
        padding-top: 1rem;
      }
  }
  .search-form .search-input.search-giant button {
    margin-top: -1rem;
  }
  