
.page-header {
    background-color: $white;
    border-bottom: 2px solid $grey-200; 
  .nav-tabs {
    border: none;
    a {
      color: $white;
      font-weight: $fw-medium;
      background: $primary-color-dark;
    }
    > li {
        margin: 0;
        > a {
          margin-right: .25rem;
          padding: .75rem 1rem;
          border-radius: .5rem .5rem 0 0;
          color: $primary-color-dark;
          &:hover {
            background-color: $primary-color;
            color: $white
          }
        }
        &.active > a,
        &.active > a:hover {
          color: $primary-text-color;
          padding: 0.75rem 1rem;
        }
    }
    li.active a, a:hover {
      background-color: $primary-color;
      color: $white;
      padding: .75rem 1rem;
    }
  }
}
.dropdown-menu > li > a {
  padding: .5rem .75rem;
  font-weight: $fw-medium;
  font-size: $fs-default;
  i {
    margin-right: .5rem;

  }
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}