.select2-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}
.select2-container .select2-choice, .select2-search input {
    display: block;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    line-height: auto;
    text-decoration: none;

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
    background-image: none;
    box-shadow: none;

    font-size: 1rem;
    height: auto;
    padding: .75rem;
    border-radius: .5rem!important;
    border: 2px solid $grey-200;
    font-weight: $fw-medium;
    box-shadow: none;
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background: $white;
    &:focus, &:focus-visible {
        box-shadow: none;
        border: 2px solid $primary-color;
        outline: none;
    }
    .select2-choice {

        > .select2-chosen {
            margin-right: 54px;
        }
    }
}

.select2-container .select2-choice .select2-arrow {
    width: 54px;
    background: $primary-color-light url(../icons/icon-arrow-down.svg) no-repeat center center;
    border: none;
    width: 54px;
    height: 100%;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    b {
        display: none;
    }
}
.select2-dropdown-open .select2-choice .select2-arrow {
    background: $grey-200 url(../icons/icon-arrow-up.svg) no-repeat center center;
}
.select2-results .select2-result-label {
    padding: .5rem;
    font-weight: $fw-medium;
}
.select2-drop-active {
    border: 2px solid #e4e7ec;
    box-shadow: none;
    margin-top: -2px;
    padding-top: 1px;
    border-radius: .5rem;
}
.select2-search input {
    background: $white url(../icons/icon-search.svg) no-repeat 95% center!important;
}