section.showcases {
  display: block;
  clear: both;
.slick-slider {
  display: flex;
  align-items: center;
  justify-content: center;
}
  .slick-showcase {
    .media-item {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      height: 480px;
      padding: 1rem;
      margin: 0 1.5rem 1.5rem 0;
      background: $white;
      border-radius: 1.5rem;
      overflow: hidden;
      @include media(tablet_min) {
        width: 50%;
      }
      @include media(desktop_min) {
        width: 25%;
      }
      
      img.media-image {
        display: flex;
        position: absolute;
        z-index: 1;
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: 0px;
        top: 0px;
        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
      .media-content {
        background-color: rgba($blue-900, 0.5);
        backdrop-filter: blur(24px);
        padding: 1.5rem 1.25rem;
        z-index: 99;
        border-radius: 1rem;

        h4,
        h3,
        p {
          position: relative;
          z-index: 2;
        }
        h4 {
          font-size: 1rem;
          color: $grey-200;
          font-weight: $fw-regular;
          margin: 0 0 0.25rem;
        }
        h3 {
          color: $white;
          letter-spacing: -1px;
          font-size: 1.75rem;
          font-weight: $fw-regular;
          margin: 0 0 0.25rem;
          line-height: $line-height-heading;
        }
        p {
          color: $grey-200;
          letter-spacing: -0.5px;
        }
        a.media-view {
          position: relative;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: none;
          overflow: hidden;
          -webkit-transition: all 0.2s ease-in;
          -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          text-decoration: none;
          &:hover {
            text-decoration: none;
          }
        }
        &:hover {
          background-color: rgba($blue-900, 0.75);
          transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
      }
      &:hover {
      img.media-image {
        filter: brightness(75%);
      }
    }
    }
    .slick-arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      border: none;
      outline: none;
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 100%;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      z-index: 9999;
      &.slick-next {
        background: $white url('../../icons/icon-next-item.svg') no-repeat center center;
        background-size: 24px auto;
        right: 0;
        &:before {
          display: none!important;
        }
      }
      &.slick-prev {
        background: $white url('../../icons/icon-prev-item.svg') no-repeat center center;
        background-size: 24px auto;
        right: 2.5rem;
        &:before {
          display: none!important;
        }
      }
    }
  }
}
.slick-next:before, 
.slick-prev:before {
  display: none!important;
}
