.table-sm {
    > tbody {
        > tr{
            > th, > td {
                padding: .5rem 1rem;
            }
        }
    }
}
.table > thead:first-child > tr:first-child > th, 
.table > thead:first-child > tr:first-child > th {
    padding: .5rem 1rem;
}
.js .table-toggle-less .show-less, 
.js .table-toggle-more .show-more {
    font-weight: $fw-bold;
}
ul.tag-list {
    padding: .75rem;
    box-shadow: none;
    border: none;
    li {
        a.tag {
            
            margin-bottom: 4px;
            color: $grey-900;
            background-color: $grey-100;
            padding: .25rem .75rem;
            border: none;
            border-radius: 100px;
            box-shadow: none;
            background: $primary-color;
            color: $white;
            transition: .3s all ease-in-out;
            &:hover {
                background: $primary-color-dark;
                border: none;
            }
        }
    }
}