{% extends "footer.html" %}

{% block footer_content %}
  <div class="row">
    {% block footer_logo %}
    {% endblock %}
    {{ columns }}
    {% set columns = h.get_column_count() %}
    {% for index in range(columns) %}
      <div class="col-md-3 span4 footer-links">
        {{ h.pose_theme_get_footer_data('content_{}'.format(index)) }}
      </div>
    {% endfor %}
    <div class="row">
      <div class="col-12 col-md-3 attribution og-attribution">
      </div>
    </div>
  </div>
   
    <div class="row">
      {% block footer_copyright %}
      <div class="col-md-12">
          <p class="footer-copy">
            {% snippet "snippets/footer.html" %}
          </p>
      </div>
      {% endblock %}
    </div>
 
{% endblock %}

