.main-featured .heading,
.main-browse .heading,
.main-updates .heading {
  display: block;
}
/*layout2 homepage flex order start*/
.flex-container {
  display: flex;
  flex-direction: column;
}
/*layout2 homepage flex order end*/

@media (max-width: 767px) {
  a.browse-group {
    width: 140px;
    height: 160px;
  }
  .browse-group-image {
    max-height: 75px;
    max-width: 125px;
    margin: 5px;
  }
}
@media (min-width: 768px) {
  a.browse-group {
    width: calc(25% - 20px);
    min-width: 195px;
    margin: 0 10px 10px 0;
  }
  .browse-group-image {
    max-height: 100px;
    max-width: 175px;
    margin: 10px;
  }
}