//Variables

/*
********************************************
=======Table of Content=======
    1. Typography
        1.1 Font-Face
        1.2 Font Variables
        1.3 Font Size
        1.4 Font Style
    2. Colors
    3. Grid - Responsive Breakpoints Mixin
    4. Spacers
********************************************
*/


// ***  Bootstrap Color Overwrites
// ***  1. Typography
// *** 1.1 Font-Face


// *** 2. Colors
$white: #ffffff;
$black: #000000;

$grey-50: #f9fafb;
$grey-100: #f2f4f7;
$grey-200: #e4e7ec;
$grey-300: #d0d5dd;
$grey-400: #98a2b3;
$grey-500: #667085;
$grey-600: #475467;
$grey-700: #344054;
$grey-800: #1d2939;
$grey-900: #101828;

$blue-50: #edf5ff;
$blue-100: #cce4ff;
$blue-200: #99caff;
$blue-300: #66afff;
$blue-400: #3395ff;
$blue-500: #3395ff;
$blue-600: #0062cc;
$blue-700: #004999;
$blue-800: #003166;
$blue-900: #001833;

$blue-dark-500: #122852;
$brand-color: #0064ff;

$primary-color: $blue-500;
$primary-color-light: $grey-100;
$primary-color-dark: $blue-dark-500;

$accent-color: #DA1E28;
$accent-color-light: #FFD7D9;
$accent-color-dark: #750E13;

$success-color: #277E59;
$success-color-light: #71D3A9;
$success-color-dark: #195039;

$secondary-color: $grey-600;
$secondary-color-light: $grey-200;
$secondary-color-dark: $grey-800;

$primary-text-color: $white;
$primary-color-text: $grey-900;

$divider-color:$accent-color;


$text-color: $grey-900;

$icon-color: $grey-500;

$line-height: 1.5;
$line-height-heading: 1.125;
$line-height-double: 2;
$background-color: $white;

:root {
  --bs-blue: $blue-500;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #d9534f;
  --bs-orange: #fd7e14;
  --bs-yellow: #fd7e14;
  --bs-green: #3A833A;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #333333;
  --bs-primary: $blue-500;
  --bs-secondary: #6c757d;
  --bs-success: #3A833A;
  --bs-info: #0dcaf0;
  --bs-warning: #fd7e14;
  --bs-danger: #d43f3a;
  --bs-light: #fff;
  --bs-dark: #333333;
  --bs-primary-rgb: 51, 149, 255;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 58, 131, 58;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 253, 126, 20;
  --bs-danger-rgb: 212, 63, 58;
  --bs-light-rgb: 255, 255, 255;
  --bs-dark-rgb: 51, 51, 51;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 51, 51, 51;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Satoshi", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: $grey-900;
  --bs-body-bg: #fff;
}


@font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-l-wf.woff2") format("woff2"),
      url("../fonts/satoshi-l-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-li-wf.woff2") format("woff2"),
      url("../fonts/satoshi-li-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-r-wf.woff2") format("woff2"),
      url("../fonts/satoshi-r-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-ri-wf.woff2") format("woff2"),
      url("../fonts/satoshi-ri-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-m-wf.woff2") format("woff2"),
      url("../fonts/satoshi-m-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-mi-wf.woff2") format("woff2"),
      url("../fonts/satoshi-mi-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-b-wf.woff2") format("woff2"),
      url("../fonts/satoshi-b-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-bi-wf.woff2") format("woff2"),
      url("../fonts/satoshi-bi-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-bb-wf.woff2") format("woff2"),
      url("../fonts/satoshi-bb-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("../fonts/satoshi-bbl-wf.woff2") format("woff2"),
      url("../fonts/satoshi-bbl-wf.woff") format("woff");
    font-variant: normal;
    font-feature-settings: normal;
    font-weight: 900;
    font-style: italic;
  }
  
$font-family: "Satoshi";
//Font Variables
$fw-default: 400;
$fw-light: 300;
$fw-regular: $fw-default;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

//Font Size
$fs-default: 1rem;
$fs-xs: .75rem;
$fs-sm: .875rem;
$fs-md: 1.125rem;
$fs-lg: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;

//Font Style
$fst-default: normal;
$fst-italic: italic;


// *** 3. Responsive breakpoints Mixin
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


@mixin media( $res ) {

	@if mobile_max == $res {
		@media screen and (max-width: #{$sm}) {
			@content;
		}
	}

	@if tablet_max == $res {
		@media screen and (max-width: #{$lg}) {
			@content;
		}
	}
  @if tabletport_max == $res {
		@media screen and (max-width: #{$md}) {
			@content;
		}
	}

	@if desktop_max == $res {
		@media screen and (max-width: #{$xl}) {
			@content;
		}
	}
    @if mobile_min == $res {
		@media screen and (min-width: #{$xs}) {
			@content;
		}
	}
  
  @if tabletport_min == $res {
		@media screen and (min-width: #{$md}) {
			@content;
		}
	}

	@if tablet_min == $res {
		@media screen and (min-width: #{$lg}) {
			@content;
		}
	}

	@if desktop_min == $res {
		@media screen and (min-width: #{$xl}) {
			@content;
		}
	}
}

//Spacer
$spacer: 1rem;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 3,
  7: $spacer * 4,
  8: $spacer * 5,
  9: $spacer * 6,
  10: $spacer * 7,
);

$display-font-sizes: (
  1: 6rem,
  2: 4rem,
  3: 3.375rem,
  4: 3rem,
  5: 2.5rem,
  6: 2rem,
);
.display-1 {
  font-size: map-get($display-font-sizes, 1);
}
.display-2 {
  font-size: map-get($display-font-sizes, 2);
}
.display-3 {
  font-size: map-get($display-font-sizes, 3);
}
.display-4 {
  font-size: map-get($display-font-sizes, 4);
}
.display-5 {
  font-size: map-get($display-font-sizes, 5);
}
.display-6 {
  font-size: map-get($display-font-sizes, 6);
}
h1,
.h1, .module h1 {
    margin: 0 0 1rem 0;
    font-size: 2rem;
    font-weight: $fw-medium;
    line-height: $line-height-heading;
    
    @include media(tablet_min) { 
        font-size: 2.25rem;
    }
    @include media(desktop_min) { 
        font-size: 2.5rem;
    }
}
.context-info h1.heading {
  margin: 0 0 1rem 0;
  font-size: 1.25rem;
  font-weight: $fw-medium;
  line-height: $line-height-heading;
  
  @include media(tablet_min) { 
      font-size: 1.25rem;
  }
  @include media(desktop_min) { 
      font-size: 1.25rem;
  }
}
h2,
.h2 {
    font-size: 1.5rem;
    font-weight: $fw-medium;

    @include media(tablet_min) { 
        font-size: 2rem;
    }
    @include media(desktop_min) { 
        font-size: 2.25rem;
    }
}
h3,
.h3 {
    font-size: 1.25rem;
    font-weight: $fw-medium;
    @include media(tablet_min) { 
        font-size: 1.75rem;
    }
    @include media(desktop_min) { 
        font-size: 2rem;
    }
}
h4,
.h4 {
    font-size: 1.5rem;
    font-weight: $fw-medium;
    @include media(tablet_min) { 
        font-size: 1.75rem;
    }
    @include media(desktop_min) { 
        font-size: 2.5rem;
    }
}
h5,
.h5 {
  font-size: 2rem;
  font-weight: $fw-medium;
}
h6,
.h6 {
  font-size: 1.5rem;
  font-weight: $fw-medium;
  
}
.hidden {
  display: none!important;
}