{% ckan_extends %}

{% set group_alias = h.dathere_theme_group_alias() %}

{% set group_delete_action = h.url_for(group_type+'.delete', id=group_dict.name) %}


      {% block form %}
        <p>{{ _('Are you sure you want to delete {group} - {name}?').format(group=group_alias, name=group_dict.name) }}</p>
        <p class="form-actions">
          <form id="group-confirm-delete-form" action="{{ group_delete_action }}" method="post">
            <button class="btn btn-danger" type="submit" name="cancel" >{{ _('Cancel') }}</button>
            <button class="btn btn-primary" type="submit" name="delete" >{{ _('Confirm Delete') }}</button>
          </form>
        </p>
      {% endblock %}
