{#
Displays a sidebar module with information for given package

pkg    - The tools package dict.

Example:

{% snippet "tool/snippets/tool_info.html", pkg=pkg %}

#}
{% block package_info %}
    {% if pkg %}
        <section class="module module-narrow">
            <div class="module context-info">
                <div class="module-content">
                    {% block package_info_inner %}
                        {% block heading %}
                            <h1 class="heading">{{ pkg.title or pkg.name }}</h1>
                        {% endblock %}
                        {% if pkg.author %}
                            <span class="smallest">{{_('Submitted by')}}</span>
                            <p>{{ pkg.author }}</p>
                        {% endif %}
                        {% if pkg.url %}
                            <div class="info">
                                <a class="btn btn-primary" href="{{ pkg.url }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-external-link icon-external-link"></i> {{ _('Visit') }}
                                </a>
                            </div>
                        {% endif %}
                        {% if pkg.source_url %}
                            <div class="info" style="margin-top: 6px;">
                                <a class="btn btn-default" href="{{ pkg.source_url }}" target="_blank" rel="noopener noreferrer">
                                    <i class="fa fa-code icon-code"></i> {{ _('Source Code') }}
                                </a>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
