<section class="main-browse section groups">
  <div class="module-content">
    <div class="container">
      <div class="group-content">
          <h4 class="heading-explanation above-heading">
            Explore Datasets by Popular Topics
          </h4>
          <h2 class="heading">
            <a href="/group">
             Topics
            </a>
          </h2>
        </div>
        <div class="groups-wrapper">
          {% for group in h.pose_theme_get_groups() %} {% if
          group.package_count > 0 %}

          <a
            href="/group/{{ group.name }}"
            title="{{ _('{name}').format(name=h.markdown_extract(group.description, 180) or 'No description') }}"
            class="browse-group"
          >
            <img
              class="browse-group-image"
              alt=""
              src="{{ group.image_display_url or '/base/images/placeholder-group.png' }}"
            />
            <div class="browse-group-title">
              <h3>{{ group.display_name }}</h3>

            </div>
            <i class="browse-group-link">
              <i class="dh-icon next"></i>
            </i>
          </a>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
